/* Colors form https://simplicable.com/colors/ */
:root {
    --deep-space: #000001;
    --moonlight: #f6eed5;
    --andromeda: #abcdee;
    --meteorite: #4a3b6a;
    --astronaut: #214559;
    --neptune1: #007dac;
    --starlight: #efefe8;
    --sunlight: #fff8df;
    --ocean-blue: #009dc4;
}